[user]
	name = Jonathan Kroening
	email = jonathan.kroening@ipsos.com
[url "github-ipsos:ipsos-code-collaboratory/"]
	insteadOf = git@github.com:ipsos-code-collaboratory/
[url "github-personal:jkroening/"]
        insteadOf = git@github.com:jkroening/
[push]
	default = simple
[pull]
        rebase = false
[alias]
        lg = log --graph --oneline --decorate --format=format:'%C(cyan)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
        lga = log --graph --oneline --decorate --format=format:'%C(cyan)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all ^origin/git-annex git-annex..master
        st = status
	co = checkout
	cm = commit
	ps = push
	pl = pull
	aa = add . -A
	atch = "!clear;inotifywait --quiet -mr -e modify,move,create,delete --format \"%f %e\" @/.git . | \
      	while read file; do \
          	clear;\
          	git status --short;\
          	git --no-pager diff --shortstat;\
      	done;"
	cfg = config -l --local
	gc = gc
	branchclean = "!git remote prune origin && git branch --merged | grep -v \"main\\|master\\|develop*\\|staging\" >/tmp/merged-branches && vi /tmp/merged-branches && xargs git branch -d </tmp/merged-branches"
	mergeignore = "!f() { git merge --no-ff --no-commit $1; for ((i = 2; i <= $#; i++)) do echo 'Ignoring '${!i}; git reset HEAD ${!i} && git checkout -- ${!i}; done; while true; do read -p 'Commit this merge (y/n)? ' yn; case $yn in [Yy]* ) git commit; break;; [Nn]* ) exit;; * ) echo 'Please answer yes or no.';; esac; done; }; f"
[merge]
	tool = emerge
[filter "gitignore"]
	clean = "sed '/#gitignore$/'d"
	smudge = cat
[diff "excel"]
	command = excel_diff
[core]
	editor = vim
	excludesfile = /Users/jonathan.kroening/.dot.files/.gitignore
[credential]
	helper = osxkeychain
[annex]
	addunlocked = true
	version = 6
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge "ours"]
	driver = true
