[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".antigen"]
	path = .antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "zsh-themes"]
	path = zsh-themes
	url = https://github.com/jkroening/zsh-themes.git
